.header {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:2.5%;
    margin-top: 100px;
    font-size: 45px;
    color:#171b22;
    font-family:Frutiger;
    text-align: center;
    letter-spacing: 3px;
    background-color:#b1e7f1;
    height: 350px;
    
       
}
.header:hover {
  color:#171b22;
  opacity: .95;
  width: 0 auto;
  height: 350px;}
 
a {
    transition: background .2s linear, border-radius 1s ease-in 1s; 
}

a:hover{
    color: white;
}


.image {
    background-image:url(project_1_metal.jpg);
    background-size: cover;
    background-image: no-repeat;


    opacity: .7; 
    transition: background .2s linear, border-radius 1s ease-in 1s; 
}
.image:hover {
    background-color:#cfeef0;
  opacity: 1;
}
a {
    color: #171b22;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: helvetica;
    }
#container {
    width: 900px;
    margin: 0 auto;}
    }

